<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Zanka no Tachi</title>
</head>

<body style="font-family:monospace">
  <h1>Listr</h1>
  <form method="post" action="/item/add"">
    <label for="name">Name:</label>
    <input type="text" name="name" style="margin:0.5rem"><br>
    <input type="submit" value="Add" style="margin:0.2rem">
  </form>
  <h4>Items:</h4>
  <ul style="">
    <% items.forEach(function(item) { %>
      <li>
        <%= item.name %>
      </li>
      <% }); %>
  </ul>
</body>

</html>
